nav ul a {
    color: black;
    font-family: 'Lora', sans-serif;
}

body { 
    font-family: 'Lora', sans-serif;
    font-size: 18px;
}


h1 {
    color : black;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    margin-top: 25px;
    
}


nav  ul  li {
    margin :  20px ;
    display : inline-block;
    color : black;

    
    
}



nav {
    background-color:  #8600C4 ;
    margin-top: 20px;
    text-align: center;
}


#logo {
    width: 94px;
    
}

h1, #logo {
    display: inline-block;
}
.nounderline {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}


.inserisci-email, .inserisci-password {
    font-size: 20px;
}

.inserisci-email{
    margin-top: 10px;
}
.whitelink {
    color: white
}


h2, h3, h4 {
    text-align: center;
}


.remember-me {
    text-align: center;
}


.registrazione, .ricordati {
    text-align: center !important;
}

.registrazione {
    margin-top: 50px;
    border-color: rgb(238, 130, 238);
    padding: white;
}

button {
    text-align: center;
}


footer {
    text-align: center;
}



#disegno2 {width: 400px;
float: center;
}


#disegno6 {width: 210px;
float: center;
margin-left: 350px;}


a:hover{
    color: rgb(238, 130, 238);
    text-decoration: none;

}

a {
    color:black
}
